#game-space {
    border-color: brown;
    justify-content: center;
    align-items: center;
    display: block;
    flex-direction: row;
}

#board {
    border-color: brown;
    border-width: 5mm;
    display: block;
    margin: auto;
}

.main-section {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-image: url("../../res/black-ground/background.png");
}

.fill-height {
    height: auto;
}

.game-space {
    flex-grow: 1;
}

#game-section {
    flex-grow: 1;
}

.placeholder {
    background-color: rgba(18, 129, 219, 0.4);
    border-color: rgba(18, 129, 219, 0.8);
    width: 80%;
    height: 5cm;
    margin: auto;
    margin-top: 5mm;
}

#roll-btn {
    bottom: 10%;
    right: 25%;
    position: absolute;
    flex: 1;
}

#controls-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#current-player {
    position: absolute;
    top: 35%;
    flex: 1;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
}
