.main {
    margin-top: 2rem;
    background-color: rgba(146, 106, 59, 0.226);
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10rem;
}

button {
    border-radius: 1rem;
}

.affirmative {
    font-size: larger;
    background-color: rgba(56, 199, 104, 0.4);
    border-color: rgba(56, 199, 104, 0.8);
}

p {
    margin: 0;
}
