#game-select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    width: 70%;
    height: 100%;
    background-color: rgba(110, 110, 245, 0.425);
    padding-left: 0;
<<<<<<< HEAD
    overflow-y:auto;
=======
>>>>>>> develop
}

main {
    background-image: url("../../res/black-ground/background.png");
}
