#game-space {
    border-color: brown;
}

canvas {
    border-color: brown;
}

main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    background-image: url("../../res/black-ground/background.png");
}

.fill-height {
    height: auto;
}

.game-space {
    flex-grow: 1;
}

.control-section {
    width: 80%;
    margin: auto;
}

#game-page-body {
    display: flex;
    flex-direction: row;
}

.placeholder {
    background-color: rgba(18, 129, 219, 0.4);
    border-color: rgba(18, 129, 219, 0.8);
    width: 80%;
    height: 5cm;
    margin: auto;
    margin-top: 5mm;
}

.affirmative {
    font-size: larger;
    background-color: rgba(56, 199, 104, 0.4);
    border-color: rgba(56, 199, 104, 0.8);
}

.continuation {
    font-size: larger;
    background-color: rgba(199, 185, 56, 0.4);
    border-color: rgba(199, 185, 56, 0.8);
}

.inactive {
    font-size: larger;
    background-color: rgba(94, 94, 94, 0.4);
    border-color: rgba(94, 94, 94, 0.4, 0.8);
}

#player-asside {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

#proceed-button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1rem;
}

color-block {
    background-color: red;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0.5rem;
}

color-block[selected="true"] {
    background-color: var(--bgcol);
    border-radius: 10mm;
    border-width: 1mm;
}

color-block[selected="false"] {
    background-color: var(--bgcol);
}

color-block[assigned="true"] {
    background-color: grey;
}

.square-container {
    display: flex;
    flex-direction: row;
    border-radius: 4mm;
    border-width: 5mm;
    width: 20%;
    max-width: 3rem;
    font-size: xx-large;
}

.square-container [selected|="true"] {
    width: 25%;
}

.square-container:after {
    content: "";
    padding-bottom: 100%;
}

#color-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: fit-content;
}

form>* {
    font-size:x-large;
}

@media (max-width: 768px) {
    main {
        flex-direction: row;
    }
    .player-form {
        width: 100%;
        height: 60%;
    }
    #proceed-button {
        width: 100%;
        margin-bottom: 2rem;
    }
    .column {
        padding: 0.4cm;
    }
}
